.home_page_main {
    height: fit-content;
    width: fit-content;
    align-self: center;
    font-size: 2em;
    font-weight: 800;
    flex-direction: column;
    display: flex;
    gap: 1em;
    padding: 2em;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 1em;
    background-color: rgba(128, 128, 128, 0.35);
}

.home_page_subtitles {
    display: flex;
    flex-direction: column;
}

.home_page_title {
    text-align: center;
}

.home_page_subtitle {
    font-size: 0.5em;
    color: rgba(0, 0, 0, 0.35);
    align-self: center;
}

.home_page_footer_title {
    font-size: 0.75em;
    color: rgba(0, 0, 0, 0.55);
    margin-top: 1em;
    align-self: center;
}

.home_page_footer_items {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.home_page_footer_icon {
    padding: 0.5em;
    border-radius: 0.75em;
    cursor: pointer;
    transition: background-color 1s ease-in-out;
}

.home_page_footer_graph_algos {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.home_page_footer_graph_algos:hover {
    background-color: rgba(0, 200, 200, 0.25);
}

.home_page_footer_greedy_algos {
    border: 1px solid rgba(0, 200, 0, 0.25);
}

.home_page_footer_greedy_algos:hover {
    background-color: rgba(0, 200, 0, 0.25);
}

.home_page_footer_dynamic_programming {
    border: 1px solid rgba(0, 0, 200, 0.25);
}

.home_page_footer_dynamic_programming:hover {
    background-color: rgba(0, 0, 200, 0.25);
}

.home_page_footer_beginner_algorithms {
    border: 1px solid rgba(165, 42, 42, 0.25);
}

.home_page_footer_beginner_algorithms:hover {
    background-color: rgba(165, 42, 42, 0.25);
}

.home_page_footer_sorting_algorithms {
    border: 1px solid rgba(128, 128, 128, 0.25);
}

.home_page_footer_sorting_algorithms:hover {
    background-color: rgba(128, 128, 128, 0.25);
}

.home_page_footer_finding_algorithms {
    border: 1px solid rgba(0, 128, 0, 0.25);
}

.home_page_footer_finding_algorithms:hover {
    background-color: rgba(0, 128, 0, 0.25);
}
